<div class="row">
    @if (ReferencedTasks != null)
    {
        @foreach (var referencedTasks in ReferencedTasks)
        {
            <div class="p-1 pl-3">
                <CardTemplate>
                    <Header>
                        @referencedTasks.ReferenceType
                    </Header>

                    <Body>
                        <ul>
                            @foreach (var item in referencedTasks.Tasks)
                            {
                                <li>@item.Content.Title</li>
                            }
                        </ul>
                    </Body>
                </CardTemplate>
            </div>
        }
    }
</div>
