@page "/overview"

<div class="container">
    <div class="container p-2">
        <button type="button" class="btn btn-primary" @onclick="@CreateTask">
            <span class="oi oi-plus"></span>
        </button>
    </div>

    @if(_tasks != null)
    {
        <div class="row">
        @foreach (var task in _tasks)
        {
            <div class="col-4">
                <TaskCard Todo="@task"/>
            </div>
        }
        </div>
    }
    else
    {
        <text>No tasks were created.</text>
    }
</div>
