<div>
    @foreach (var t in GetTypes())
    {
        var type = t;

        <label>@type.ToString()</label>
        <input type="checkbox" checked="@BitMask.HasFlag(type)" @onchange="@(e => Toggle(type, (bool) e.Value))" />
    }

    Bitmask is @BitMask.ToString()
</div>
