@page "/graph"

<div>
    <div>
        <label>Analyze references:</label>
        <ReferenceTypeSelector @ref="@_analyzeTypesSelector" />
    </div>

    <div>
        <label>Show references:</label>
        <ReferenceTypeSelector @ref="@_showingTypesSelector"
                               ShowCheckbox="@(t => _analyzeTypesSelector.BitMask.HasFlag(t))" />
    </div>

    <button type="button" @onclick="@RenderGraph">Render graph</button>
</div>

<BECanvas Width="960" Height="1280" @ref="_canvas"></BECanvas>
