@page "/tasks/update/{GuidStr}"

<CascadingValue Value="@_taskEditingState">
    @if (_task != null)
    {
        <TaskEditForm Model="@_task" Title="Update task" Actions="@_actions"/>
    }
    else
    {
        <div>Loading...</div>
    }
</CascadingValue>
