@page "/profile"

<div class="row">
    <div class="col">
        <AuthorizeView>
            <Authorized>
                <div>
                    @foreach (var item in @context.User.Claims)
                    {
                        <p>@item.Type : @item.Value</p>
                    }
                </div>
            </Authorized>
            <NotAuthorized>
                Not authorized.
            </NotAuthorized>
        </AuthorizeView>
    </div>
</div>
