@inject NavigationManager Navigation

<a href="/profile">Hello, user!</a>
<button class="btn btn-link nav-link" @onclick="BeginSignOut">Log out</button>
<a href="/register">Register</a>
<a href="/login">Log in</a>

@code{

    private void BeginSignOut(MouseEventArgs args)
    {
        Navigation.NavigateTo("authentication/logout");
    }

}
