@inject NavigationManager Navigation

<AuthorizeView>
    <Authorized>
        <a href="/profile">Hello, @context.User.Identity.Name!</a>
        <a href="/signout">Sign out</a>
    </Authorized>

    <Authorizing>
        <div>Wait...</div>
    </Authorizing>

    <NotAuthorized>
        <a href="/signin">Sign in</a>
        <a href="/signup">Sign up</a>
    </NotAuthorized>
</AuthorizeView>

@code
{
    private void BeginSignOut(MouseEventArgs args)
    {
        Navigation.NavigateTo("/logout");
    }
}
