<div class="card p-1" @attributes="@AdditionalAttributes">
    <div>
        @if (Header != null)
        {
            <div class="card-header">
                @Header
            </div>
        }

        @if (Body != null)
        {
            <div class="card-body">
                @Body
            </div>
        }

        @if (Footer != null)
        {
            <div class="card-footer">
                @Footer
            </div>
        }
    </div>
</div>
