@* ReSharper disable once UnusedTypeParameter *@
@typeparam TValue

<CardTemplate>
    <Header>
        @Header
    </Header>

    <Body>
        @Content
    </Body>

    <Footer>
        <button class="btn btn-link" @onclick="@RemoveSection">Remove card</button>
    </Footer>
</CardTemplate>
