@* ReSharper disable once UnusedTypeParameter *@
@typeparam TValue

<CardTemplate>
    <Header>
        @Header
    </Header>

    <Body>
        <EditForm Model="@Value">
            @EditFields
        </EditForm>
    </Body>

    <Footer>
        <button class="btn btn-link" @onclick="@RemoveSection">Remove card</button>
    </Footer>
</CardTemplate>
