<TaskSection>
    <div class="d-flex h-100 align-items-center justify-content-center">
        <button type="button" class="btn btn-link stretched-link"
                @onclick="@OnClick"
                @attributes="@AdditionalAttributes">

            <div class="text-muted">
                <span class="oi oi-plus p-2 d-block"></span>
                @Text
            </div>
        </button>
    </div>
</TaskSection>
