<div class="card p-2 shadow" attributes="@AdditionalAttributes">
    <input type="text" class="form-control border-0 mb-1" placeholder="Title..." @bind="@Content.Title"/>
    <textarea class="form-control border-0" placeholder="Description..." rows="5" @bind="@Content.Description"></textarea>
</div>
