<TaskSection OnRemove="@RemoveSection">
    <div class="form-group">
        <InputText class="tp-input-text" @bind-Value="@Deadline.Title"/>
    </div>

    <div class="form-group mb-0">
        <InputDateTime class="tp-input-datetime" @bind-Value="@Deadline.Time"/>
    </div>
</TaskSection>
