<TaskSection OnRemove="@RemoveSection">
    <div class="form-group">
        <InputText class="form-control w-100 h-auto px-1 py-0 mb-1 border" @bind-Value="@Deadline.Title"/>
        <input type="datetime-local" class="form-control w-100 h-auto px-1 py-0 border" @bind="@Deadline.Time"/>
    </div>
</TaskSection>
