<TaskSection OnRemove="@RemoveSection">
    <div class="form-group">
        <InputText class="tp-input-text" @bind-Value="@Deadline.Title"/>
        <input type="datetime-local" class="tp-input-datetime" @bind="@Deadline.Time"/>
    </div>
</TaskSection>
