<TaskSection OnRemove="@RemoveSection">
    <div class="form-group mb-0">
        <InputText class="form-control w-100 h-auto px-1 py-0 mb-1 border" @bind-Value="@ExecutionTime.Title"/>
        <InputTimeSpan Value="@ExecutionTime.Time"/>
    </div>
</TaskSection>
