<TaskSection OnRemove="@RemoveSection">
    <div class="form-group">
        <label class="d-block mb-0">Iterations executed</label>
        <InputNumber class="h-auto px-1 py-0 border" @bind-Value="@Iterations.Executed"/>
    </div>

    <div class="form-group">
        <label class="d-block mb-0">Iterations total</label>
        <InputNumber class="h-auto px-1 py-0 border" @bind-Value="@Iterations.Required"/>
    </div>

    <div class="form-group mb-0">
        <label class="d-block mb-0">Time per iteration</label>
        <InputTimeSpan Value="@Iterations.TimePerIteration"/>
    </div>
</TaskSection>
