<TaskSection OnRemove="@RemoveSection">
    <div class="form-group">
        <InputText class="form-control w-100 h-auto px-1 py-0 mb-1 border" @bind-Value="@Metric.Title"/>
        <InputNumber class="form-control w-100 h-auto px-1 py-0 border" @bind-Value="@Metric.Value"/>
    </div>
</TaskSection>
