<TaskSection OnRemove="@RemoveSection">
    <div class="form-group">
        <InputText class="tp-input-text" @bind-Value="@Metric.Title"/>
        <InputNumber class="tp-input-number-wide" @bind-Value="@Metric.Value"/>
    </div>
</TaskSection>
