<TaskSection OnRemove="@RemoveSection">
    <div class="form-group">
        <label>Importance</label>
        <InputNumber class="form-control h-auto px-1 py-0" @bind-Value="@Metrics.Importance"/>
    </div>

    <div class="form-group">
        <label>Complexity</label>
        <InputNumber class="form-control h-auto px-1 py-0" @bind-Value="@Metrics.Complexity"/>
    </div>
</TaskSection>
