<CardTemplate>
    <Body>
        <div class="row m-2">
            @foreach (var section in Sections)
            {
                if (section.IsActive())
                {
                    <AddSection OnClick="@section.OnClick" Text="@section.ButtonText" />
                }
            }
        </div>
    </Body>
</CardTemplate>
