<div class="card shadow rounded-lg m-1">
    <div class="card-body">
        @if (OnRemove.HasDelegate)
        {
            <div class="d-flex justify-content-end">
                <button type="button" class="close" aria-label="Close" @onclick="@OnRemove">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
        }

        @ChildContent
    </div>
</div>

@code
{
    [Parameter]
    public RenderFragment ChildContent { get; set; }

    [Parameter]
    public EventCallback OnRemove { get; set; }
}
