<div class="card">
    <div class="card-body">
        @if (Title != null || OnRemove.HasDelegate)
        {
            <div class="d-flex flex-row justify-content-between">
                @Title

                @if (OnRemove.HasDelegate)
                {
                    <button type="button" class="close" aria-label="Close" @onclick="@OnRemove">
                        <span aria-hidden="true">&times;</span>
                    </button>
                }
            </div>
        }

        @ChildContent
    </div>
</div>

@code
{
    [Parameter]
    public string Title { get; set; }

    [Parameter]
    public RenderFragment ChildContent { get; set; }

    [Parameter]
    public EventCallback OnRemove { get; set; }
}
